html, body {
	padding: 0;
	margin: 0;
}

html {
	background-color: #63bdd8;
	font-family: 'Segoe UI';
	text-align: center;
}

h1 {
	color: white;
	text-shadow: 0 0 5px black;
	width: 100vw;
	margin: 10vh auto 0 auto;
	font-size: 40pt;
}

div#page {
	background-color: rgba(255,255,255,0.6);
	border-radius: 0.4em;
	box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.3),  0 0 0.2em rgba(0, 0, 0, 0.7);
	padding: 3em 2em;
	min-height: 8em;
	font-size: 15pt;
	width: 35em;
	margin: 10vh auto 0 auto;
}

div.container {
	float: left;
	width: 50%;
	height: 10em;
	padding: 0px 10px;
	box-sizing: border-box;
}

select, input[type=number]  {
	border-radius: 0.2em;
	border: none;
	padding: 10px 5px;
	box-shadow: 0 0 0.2em black;
}

select {
	width: 18em;
	font-size: 12pt;
}

input#anzahl_fragen{
	width: 4em;
	text-align: right;
}

label {
	width: 8em;
	text-align: left;
	font-size: 12pt;
	float:left;
	padding: 10px 0;
}

button {
	width: 10em;
	border-radius: 0.2em;
	border: none;
	font-size: 25px;
	margin: 20px;
	padding: 10px 5px;
	box-shadow: 0 0 0.1em black;
}

div#game > p {
	padding: 0.4em 6em;
}